header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-bottom: 30px;
}

header a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--primari);
    color: #fff;
    margin-top: 40px;
    border-radius: 8px;
}